##### This chapter explores these features:

    Image The built-in enumerate function, which automatically supplies a loop counter.

    Image Enhanced use of the format function, to format output.

    Image List comprehension, a technique that collapses an entire for loop into a single line.

In [2]:
my_list = ['item0', 'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7']

In [3]:
len(my_list)

8

In [5]:
for item in my_list:
    print(item, end=' ')

item0 item1 item2 item3 item4 item5 item6 item7

In [6]:
for item in my_list:
    print(item, end='\n')

item0
item1
item2
item3
item4
item5
item6
item7

Python provides many ways to manipulate the contents of a list. You can add and remove individual members using **append** and **remove**.

In [ ]:
my_list.remove('item0')

my_list.append('item8')

Another useful feature is the <font color="blue">**in**</font> keyword, which determines whether an item is in the list. This is useful because if an item is not included in a list to begin with, then trying to remove it causes an error. Here’s an example:

In [ ]:
if 'item1' in my_list:

    my_list.remove('item1')

In [5]:
num_list = [1, 13, 7, 9]

for i in num_list:

    j = i * 10

    print(j, end=' ') # Print m followed by a space.

10 130 70 90

Suppose we have a series of Celsius temperatures that we want to convert to corresponding Fahrenheit temperatures. Here are the Celsius temperatures:

In [6]:
cels_list = [15, 20, 25, 30]

We can build a new list containing Fahrenheit temperatures this way:

In [7]:
# create an empty list for Fahrenheit temperatures
fahr_list = []

for c in cels_list:
    x = c * 1.8 + 32.0
    fahr_list.append(x)

    
fahr_list

[59.0, 68.0, 77.0, 86.0]

Another important feature of lists is that it’s easy to sort them; you just call the sort method

In [11]:
fahr_list.reverse()
fahr_list

[86.0, 77.0, 68.0, 59.0]

In [13]:
fahr_list.sort()
fahr_list

[59.0, 68.0, 77.0, 86.0]

certain values equate to False when evaluated as conditions. In particular, empty strings are considered False. Therefore, consider the following code:
``if s == '': ``
<br><br>
You can save a little space by rewriting this as:
<br><br>
``if not s: ``
<br>
If s is empty, then not s has the effect of True within an if condition.

|||
|--- |--- |
|INDEXING SYNTAX|MEANING|
|[begin: end]|Include all elements from the index named begin, up to but not including end.|
|[begin: ]|Include all elements from the index named begin forward to the end of the list.|
|[: end]|Include all elements up to but not including end.|
|[:]|Include all elements of the list. When this appears on the right side of an assignment, it forces copies to be made of all elements.|
|[begin: end: step]|The step argument, if included, indicates which elements of the list to include. For example, a step value of 2 indicates that every other item is to be included. A negative argument (such as –1) causes the direction to be reversed.|

### Ranges

In [15]:
temp_list = [0.01, 250.5, 22.77]

for i in [0, 1, 2]:

    temp_list[i] = temp_list[i] * 1.8 + 32.0

temp_list

[32.018, 482.90000000000003, 72.98599999999999]

``range(end)``
<br><br>
``range(start, end)``
<br><br>
``range(start, end, step)``

When working with index numbers, it’s often most efficient to specify the length of a list as the end argument and leave start set to 0 (the default). Here’s an example:

In [17]:
for i in range(len(temp_list)):

    temp_list[i] = temp_list[i] * 1.8 + 32.0

temp_list

[193.33832, 1654.1960000000001, 326.07464]

If you specify a third argument, it’s interpreted as the step argument, which specifies how much the index (i in this case) should increase during iteration. For example, the following statement operates only on items with an even number, starting with index number 0.

In [18]:
for i in range(0, len(temp_list), 2):

    temp_list[i] = temp_list[i] * 1.8 + 32.0
    
    
temp_list

[380.008976, 1654.1960000000001, 618.934352]

Remember that the range of numbers generated includes integers up to but not including the end argument. This is called the excluded end point.
<br><br>
The following table shows examples of how uses of range translate into a series of numbers:

|||
|--- |--- |
|EXAMPLE RANGE|RESULTING LIST|
|range(3)|[0, 1, 2]|
|range(4)|[0, 1, 2, 3]|
|range(1, 4)|[1, 2, 3]|
|range(1, 5)|[1, 2, 3, 4]|
|range(1, 6)|[1, 2, 3, 4, 5]|
|range(10, 16)|[10, 11, 12, 13, 14, 15]|
|range(10, 16, 2)|[10, 12, 14]|
|range(0, 10, 3)|[0, 3, 6, 9]|

In [ ]:
for i in range(len(my_list))

    my_list[i] = 0   # Reset each elem to 0.

In [13]:
i = 1

for item in my_list:

    print(i, '.', item, sep=' ')

    i += 1

1 . item0
2 . item1
3 . item2
4 . item3
5 . item4
6 . item5
7 . item6
8 . item7

<font color="red">**Note:**</font> This produces the desired result, but it introduces an extra variable, separate from the for statement. It also adds two lines of code.

### The enumerate function lets you iterate directly over the data while getting an index number “for free.”

In [3]:
for i, item in enumerate(my_list, 1):

    print(i, '. ', item, sep=' ')

1 .  item0
2 .  item1
3 .  item2
4 .  item3
5 .  item4
6 .  item5
7 .  item6
8 .  item7

In [4]:
for i, item in enumerate(my_list, 5):

    print(i, '. ', item, sep='')

5. item0
6. item1
7. item2
8. item3
9. item4
10. item5
11. item6
12. item7

The <font color="blue">**enumerate function**</font> is a built-in function that generates a series of value pairs (tuples) of the form index, item, in which index is a running count, and item refers to an element. The function has this syntax:
Image
<br><br>
``enumerate(iterable, start=0)``

The enumerate function is most often used within for statements.

``for index, item in enumerate(iterable, num=0):``

    ``indented_statements``

___

### Append to the empty list using for loop

In [24]:
my_list = []

for i in range(1, 11):

    my_list.append(i * 2)

    
my_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

``list_name = []``

``for_statement_header :``

         list_name.append(expression)
 
### We can change 2 line for loop into one line:
 
 ``list_name = [expression  for_statement_header]``

In [25]:
my_list = []


my_list  = [i * 2 for i in range(1, 11)]


my_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
a_list = [i for i in range(10)]
a_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

___

In [32]:
old_list = [i for i in range(8)]
old_list

[0, 1, 2, 3, 4, 5, 6, 7]

In [35]:
#### First Method

In [33]:
new_list = []

for i in old_list:

    new_list.append(i)
new_list

[0, 1, 2, 3, 4, 5, 6, 7]

In [36]:
#### Second Method

In [38]:
new_list = [i for i in old_list]
new_list

[0, 1, 2, 3, 4, 5, 6, 7]

In [39]:
new_list = [i * 2 for i in old_list]
new_list

[0, 2, 4, 6, 8, 10, 12, 14]

In [40]:
sqr_list = [i * i for i in range(1, 7)]
sqr_list

[1, 4, 9, 16, 25, 36]

In [41]:
nums = []
for i in range(1, 4):

    for j in range(1, 4):

        nums.append(i * j)

In [43]:
nums

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [44]:
nums = [i * j for i in range(1,4) for j in range(1,4)]

In [45]:
nums

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [46]:
nums = []

for i in range(1, 4):

    for j in range(1, 4):

        if i >= j:

            nums.append(i * j)

In [47]:
nums

[1, 2, 4, 3, 6, 9]