# Python Data Analysis with pandas
# 5-1. Working with 1D Data

You need to work with one-dimensional data such as arrays .
<br>
pandas includes a new data type called a Series that is used for one-dimensional data.
<br>
Once you import the pandas package, you can use the Series constructor to take an
already existing data object, such as a list, and convert it to a format that pandas can work
with. Listing 5-1 shows how to convert a basic list.
#### Listing 5-1. Converting a List into a Series

In [1]:
import pandas as pd
data = [1,2,3,4]
data_pd = pd.Series(data)

You can optionally include an index array to index the values. In the example in
Listing 5-1 , the index simply becomes the numeric index within the data array. Also,
by default, the data is left where it is. If you need to create a new copy of the data when
you create your Series object, you can include the parameter copy=True. pandas can
deduce the data type being used for the new Series object. You can explicitly set it with
the dtype parameter . The possible values are those available from numpy . Listing 5-2
shows how you can treat the data from Listing 5-1 as floating point.
#### Listing 5-2. Explicitly Setting the dtype

In [2]:
data_pd.dtype

dtype('int64')

In [3]:
import numpy as np
data_pd2 = pd.Series(data, dtype=np.float64)
data_pd2.dtype

dtype('float64')

All of the usual operators are overloaded to be usable with Series objects, as in
Listing 5-3 .
#### Listing 5-3. Basic Arithmetic with Series

In [4]:
2 * data_pd

0    2
1    4
2    6
3    8
dtype: int64

Accessing elements is done with the same syntax as for lists, as in Listing 5-4 .
#### Listing 5-4. Accessing Series Data

In [5]:
data_pd[2]

3

In [6]:
data_pd[3] = 9

# 5-2. Working with 2D Data
You need to work with two-dimensional data .
<br>
pandas includes an optimized object called a DataFrame that supports two dimensional
data sets.
<br>
pandas includes a new object called a DataFrame that creates an object for 2D data
sets. You can create a new DataFrame from either a dictionary of lists, or from a list of
dictionaries. Listing 5-5 shows how to create a new DataFrame from a dictionary of lists.
#### Listing 5-5. Creating a DataFrame

In [7]:
d1 = {'one' : [1,2,3,4], 'two' : [9,8,7,6]}
df1 = pd.DataFrame(d1)
df1

   one  two
0    1    9
1    2    8
2    3    7
3    4    6

Again, the standard arithmetic operators are overloaded to be easy to use with
DataFrames . Now that you have two dimensions, accessing elements is a bit more
complicated. Addressing is column-based by default. This means that you can access a
given column directly with the appropriate label, as in Listing 5-6 .
#### Listing 5-6. Accessing DataFrame Columns

In [8]:
df1['one']

0    1
1    2
2    3
3    4
Name: one, dtype: int64

In [9]:
df1['one'][2]

3

If you want to access the data by row, you need to use either the iloc or loc
properties of the DataFrame , as in Listing 5-7 .
#### Listing 5-7. Accessing DataFrame Rows

In [10]:
 df1.loc[1]

one    2
two    8
Name: 1, dtype: int64

In [11]:
df1.loc[1][1]

8

# 5-3. Working with 3D Data

You need to process three-dimensional data sets with pandas .

<br>
pandas includes a new object called a Panel that handles three-dimensional data sets
efficiently.
<br>
Similar to creating a DataFrame , creating a new Panel object can be done with a
dictionary of DataFrames . Listing 5-8 shows a basic example.
##### Listing 5-8. Creating a Panel

In [13]:
data_dict = {'item1' : pd.DataFrame(np.random.randn(4, 3)), 'item2' :
pd.DataFrame(np.random.randn(4, 2))}

In [14]:
data_panel = pd.Panel(data_dict)

You can access each of the DataFrames within your new Panel by using their label.
For example, you can get the item2 DataFrame with the code in Listing 5-9 .
#### Listing 5-9. Accessing DataFrames within a Panel

In [15]:
data_panel['item2']

          0         1   2
0  0.290827 -0.311617 NaN
1 -1.559988 -0.006139 NaN
2 -0.766882  1.931294 NaN
3 -1.143126 -0.631373 NaN

Once you have a DataFrame , you can access individual elements in the same manner
as in the previous section.
# 5-4. Importing Data from CSV Files

You need to import data collected offline from a CSV (comma-separated values ) file.
<br>
Pandas includes a method named read_csv() that can import and parse CSV files.
<br>
A top-level method is available in the pandas package to read in CSV files. The most basic
usage is shown in Listing 5-10 .
#### Listing 5-10. Reading a CSV File

In [ ]:
csv_data = pd.read_csv('data_file.csv')

By default, pandas will read the column names from the first row within the CSV file.
If you have the column names on some other row, you can use the parameter header=X
to redirect pandas to row X to pull the column names. If your file has no column names,
you can use the parameter header=None and then hand in the list of column names with
the parameter names=[col1, col2, ...] . Also, by default, pandas will treat the first column
as the labels for each of the rows. If the row labels are in another column, you can use the
parameter index_col=X . If you don't have any row labels at all, you will probably want to
use the parameter index_col=False to force pandas not to use any of the columns.
# 5-5. Saving to a CSV File

You want to save data into a CSV file to share with other people or applications.
<br>
The Series and DataFrame objects include a method called to_csv() .
<br>
If you need to save the data that you have been working with, you can call the to_csv()
method with a file name to use, as in Listing 5-11 .
#### Listing 5-11. Saving to a CSV File

In [ ]:
series_data.to_csv('export_file.csv')

There are parameters available to change the delimiter used or the character used
for quoting. By default, pandas will write out column headers and row labels. If you want
just the data, you can use the code in Listing 5-12 .
#### Listing 5-12. Saving Data without Headers and Labels

In [ ]:
data2.to_csv('data_file.csv', header=False, index=False)

By default, pandas will overwrite the output file if it already exists. If you want to
append to an already existing file, you can change the output mode with the parameter
mode='a' .
# 5-6. Importing from Spreadsheets

You want to import existing data from a spreadsheet .
<br>
pandas includes a method to import a single sheet from a spreadsheet file , as well as a
wrapper class if you need to work with more than one sheet from a given file.
<br>
If you only need to import a single sheet from a file, you can use the code in Listing 5-13
to do so.
#### Listing 5-13. Importing a Single Spreadsheet Sheet

In [ ]:
data_frame1 = pd.read_excel('data_file.xsl', sheetname='Sheet1')

This will import the data as a single DataFrame object.
If you have multiple sheets that you wish to work with, it is more efficient to load the
file once into a wrapper class in order to access them easily. Luckily, pandas has such a
wrapper class, as shown in Listing 5-14 .
#### Listing 5-14. Wrapping a Spreadsheet in pandas

In [ ]:
excel_data = pd.ExcelFile('data_file.xsl')

You can then hand this object in to the read_excel() method rather than a filename.
# 5-7. Saving to a Spreadsheet
You want to save your DataFrame to a spreadsheet file.
<br>
The DataFrame class includes a method named to_excel() that writes the data out
to a file.
<br>
The simplest way to write your output is shown in Listing 5-15 .
#### Listing 5-15. Writing Output to a Spreadsheet File

In [ ]:
df.to_excel('output_file.xsl', sheet='Sheet1')

pandas will choose a different writing engine based on the file name extension.
You can also save files using the file name ending .xslx .
# 5-8. Getting the Head and Tail

You want to query the data to see how it is structured.
<br>
There are functions available to look at the beginning or the ending of a given data set.
They are very useful once you get to using large data sets.
<br>
Both the Series and DataFrame objects have methods named head() and tail() . By
default, they will give you the first five entries or the last five entries, respectively, for the
given data set. If you want to look at more or less of the data, you can include a parameter
for the number of entries you want to see, as in Listing 5-16 .
#### Listing 5-16. Getting the First and Last Two Data Entries

In [16]:
data_series = pd.Series(np.random.randn(1000))
data_series.head(2)

0    0.029022
1   -3.228761
dtype: float64

In [17]:
data_series.tail(2)

998    0.653707
999   -1.409047
dtype: float64

# 5-9. Summarizing Data

You want to get a statistical summary of the data set.
<br>
The new data objects introduced in pandas include a collection of methods used to
provide summary statistics of your data.
<br>
There are several methods available for individual statistics, such as the mean or standard
deviation. There is also a single method called describe() that provides a complete
summary, as shown in Listing 5-17 .
#### Listing 5-17. Describing Your Data

In [18]:
data_series.describe()

count    1000.000000
mean       -0.033709
std         1.022034
min        -3.228761
25%        -0.697743
50%        -0.043676
75%         0.642479
max         3.611882
dtype: float64

Each of these values is available with individual methods. For example, Listing 5-18
shows how you can verify that the standard deviation is equal to the square root of the
variance.
#### Listing 5-18. Comparing the Standard Deviation and the Variance

In [19]:
data_series.std() ** 2

1.0445525800349265

In [20]:
data_series.var()

1.0445525800349265

This looks good, within the accuracy of floating point numbers.
# 5-10. Sorting Data

You wish to do some sorting as preprocessing of your data.
<br>
The Series and DataFrame objects include methods to sort either by index or by value.
<br>
If your data is entered in a random order, you may need to do some preprocessing before
you can do the actual analysis. Listing 5-19 shows how you can sort a DataFrame by either
the row or column labels.
#### Listing 5-19. Sorting a DataFrame by Index

In [21]:
df = pd.DataFrame({'one' : [1,2,3], 'two' : [4,5,6], 'three' : [7,8,9]},
index=['b','c','a'])

In [22]:
df

   one  three  two
b    1      7    4
c    2      8    5
a    3      9    6

In [23]:
df.sort_index()

   one  three  two
a    3      9    6
b    1      7    4
c    2      8    5

In [24]:
df.sort_index(axis=1, ascending=False)

   two  three  one
b    4      7    1
c    5      8    2
a    6      9    3

The other way you may wish to sort your data is by the actual data values. In this
case, you need to decide by which column to sort on. Listing 5-20 shows how to sort by
column two in descending order.
#### Listing 5-20. Sorting a DataFrame by Values

In [25]:
df.sort_values(by='two', ascending=False)

   one  three  two
a    3      9    6
c    2      8    5
b    1      7    4

#### ■ <font color="red"> Note: </font> Starting with version 0.17.0, these methods return a new sorted object unless
you use the parameter inplace=True . Before this version, the sorting happens in the
original data object.
# 5-11. Applying Functions Row- or Column-Wise

You need to execute a function on an entire row or column.
<br>
Both DataFrames and Panels have a method called apply() that can be used to apply a
function across a column or row.
<br>
Listing 5-21 shows how you can find the average for each column, then each row.
#### Listing 5-21. Averaging Rows and Columns

In [26]:
df = pd.DataFrame({'one' : [1,2,3], 'two' : [4,5,6], 'three' : [7,8,9]},
index=['b','c','a'])

In [27]:
df.apply(np.mean)

one      2.0
three    8.0
two      5.0
dtype: float64

df.apply(np.mean, axis=1)

This is a great place to use lambda functions , if your function is simple enough to fit
into a single expression. Listing 5-22 shows an example of a simple lambda function that
simply doubles the values from the dataframe.
#### Listing 5-22. Applying a Lambda Function on a Data Set

In [29]:
df.apply(lambda x: 2*x, axis=1)

   one  three  two
b    2     14    8
c    4     16   10
a    6     18   12

# 5-12. Applying Functions Element- Wise
You need to apply functions to either all of the elements in a data set or some subset of
the elements.
<br>
The new pandas data objects have two useful methods named map() and applymap() that
can be used to apply functions to groups of individual elements.
<br>
There are times when you need to apply some function to individual elements of your
data set. Listing 5-23 shows how you can square all of the elements of a data set.
#### Listing 5-23. Squaring Data Elements

In [30]:
df = pd.DataFrame({'one' : [1,2,3], 'two' : [4,5,6], 'three' : [7,8,9]},
index=['b','c','a'])

In [31]:
df.applymap(lambda x: x*x)

   one  three  two
b    1     49   16
c    4     64   25
a    9     81   36

If you only wish to apply a function to a given column, Listing 5-24 shows how you
can double the values in column 2 .
#### Listing 5-24. Doubling a Single Column of Elements

In [32]:
df['two'].map(lambda x: 2*x)

b     8
c    10
a    12
Name: two, dtype: int64

# 5-13. Iterating Over Data

You need iterate over your data set as part of the processing workflow.
<br>
pandas data objects are iterable objects and can be used in most cases when you need to
loop over all of the elements.
<br>
If you want to do basic iteration of one of the new data objects that pandas provides, you
need to be aware that they each behave a little differently. The basic types of iteration are
• Series : Iterate over each element
• DataFrame : Iterate over the columns
• Panel : Iterate over the item labels
For example, Listing 5-25 shows how to find the average of each column using
iteration.
#### Listing 5-25. Averaging Each Column of a DataFrame

In [33]:
df = pd.DataFrame({'one' : [1,2,3], 'two' : [4,5,6], 'three' : [7,8,9]},
index=['b','c','a'])

In [34]:
for col in df:
    print(df[col].mean())

2.0
8.0
5.0

If you need to iterate over the rows of a DataFrame instead, Listing 5-26 shows one
example.
#### Listing 5-26. Iterating Over Rows

In [35]:
for row_index,row in df.iterrows():
    print(row_index)
    print(row)

b
one      1
three    7
two      4
Name: b, dtype: int64
c
one      2
three    8
two      5
Name: c, dtype: int64
a
one      3
three    9
two      6
Name: a, dtype: int64

Note, however, that iterating can be rather slow. Whenever possible, you will probably
want to find another way of expressing the processing workflow that you need to do.